.six-digit-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.six-digit-input form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.digit-input {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  margin: 0px 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.OTP {
  text-align: center;
}
.inputbox {
  margin: 20px 0px 20px 0px;
}
.resend-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.resend-link:focus {
  outline: none;
}
